<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="xin.altitude.redis.cluster.mybatisplus.join.mapper.StudentMapper">
    <resultMap id="studentResultMap" type="xin.altitude.redis.cluster.mybatisplus.join.entity.Student">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="age" property="age"></result>
        <collection property="subjects" ofType="xin.altitude.redis.cluster.mybatisplus.join.entity.Subject">
            <id column="sub_id" property="id"></id>
            <result column="stu_name" property="name"></result>
            <result column="credit" property="credit"></result>
            <result column="grade" property="grade"></result>
        </collection>
    </resultMap>


    <select id="getAllStuSubject" resultMap="studentResultMap">
         select a.id,a.name,a.age,c.id as sub_id,c.name as stu_name,c.credit,b.grade
         from tb_student a,tb_grade b,tb_subject c
         where a.id=b.stu_id and c.id=b.sub_id;
    </select>
</mapper>